#TN-footer {
width: 1000px;
font-size: 12px;
margin: 10px auto 20px auto;
color: #777;
line-height: 1.9;
padding-top:53px;
}
#TN-footer p {
line-height: 1.9;
text-align: center;
}
#TN-links a {
margin: 0 5px;
}
#TN-footer a{
	color: #777;
	text-decoration: none;
}
